<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8 offset-md-2">
      <div class="d-flex w-100 justify-content-center align-items-center">
        <img
          src="assets/images/dev.jpg"
          class="rounded-circle bd-placeholder-img"
          alt="devloper"
          width="140"
          height="140"
        />

        <div class="ml-2 detail">
          <h2 class="m-0 p-0">jaswant singh</h2>
          <p class="text-dark m-0 p-0 text-muted">web developer</p>
          <p class="text-muted">9911878767</p>
        </div>
      </div>

      <p class="lead">
        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
        Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus,
        porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
        magna.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">hire me »</a></p>
    </div>
  </div>
</div>
